
#searchsubmit {
    @extend button;
    &:hover {
        background: $color__background-body $url-button-bg-hover bottom left repeat-x;
        border: 1px solid $color__link-nav;
    }
}

button {
    clear: both;
    width: auto;
    height: auto;
    line-height: 18px;
    background: $url-button-bg bottom left repeat-x !important;
    border: 1px solid $color__border-input;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) !important;
    min-width: 0;
}

.comment-submit {
    @extend button;
    &:hover {
        background: $color__background-body $url-button-bg-hover bottom left repeat-x;
        border: 1px solid $color__link-nav;
    }
}

input[type="submit"] {
    @extend button;
}
