.widget {
    width: 310px;
    margin-right: 10px;
    padding-top: 15px;
    display: inline;
    float: left;
    font-size: 12px;
    color: $color__text-primary-2;
    line-height: 18px;

    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }

    h3 {
        color: $color__text-secondary;
        background: $color__background-body;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    p {
        color: $color__text-primary;
    }
    ul {
        margin-left: 0;
    }
    li {
        color: $color__text-secondary;
    }
    a {
        color: $color__link;
        &:hover {
            color: $color__link-hover;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }

}

.widget-copy {
    width: 280px;
    overflow: hidden;
    display: inline;
    float: left;
    margin-left: 10px;
    a {
        text-decoration: none;
    }
}
