$color--blockquote--border: rgba(#cccccc, .54);
$color--blockquote--text: unquote("rgba(#{$color-black}, .54)");

$color--body--bg: unquote("rgb(#{$color-white})");
$color--pre--bg: unquote("rgb(#{$palette-grey-100})");
$color--hr--bg: #ccc;
$gutter: 16px;
// TODO upgrade font
$font--code: monospace;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color--body--bg; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
    border-top: 1px solid $color--blockquote--border;
    border-bottom: 1px solid $color--blockquote--border;

    quotes: "" "";
    color: $color--blockquote--text;

    &:before,
    &:after {
        content: "";
        position: inherit;
        margin: inherit;
    }

    margin: $gutter * 2 0;
    padding: $gutter * 2;

    &, & p {
        @extend .mdl-typography--font-light;
        @extend .mdl-typography--text-center;
        @extend i;
        font-size: 24px;
        line-height: 1.35;
        letter-spacing: 0.08em;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

mark, ins {
    background-color: #f4ff81;
    text-decoration: none;
}

big {
    font-size: 125%;
}

b, strong {
    @extend .mdl-typography--font-bold;
}

code, kbd, tt, var {
    word-wrap: break-word;
    color: unquote("rgb(#{$palette-grey-700})");
    @extend .mdl-typography--font-regular;

    font-family: $font--code;
}

hr {
    background-color: $color--hr--bg;
    border: 0;
    height: 1px;
    margin-bottom: $gutter;

}

pre {
    background: $color--pre--bg;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: $gutter;
    padding: $gutter;
    overflow: auto;
    max-width: 100%;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

address {
    @include typo-caption;
    @extend .mdl-typography--font-regular;
}

@import "lists";
@import "tables";
