

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

ul {
    list-style: disc;

}

ol {
    list-style: decimal;
    li {
        padding-left: 10px;
        ol {
            list-style-type: lower-alpha;
            li ol {
                list-style-type: lower-roman;
            }
        }
    }

}

ul, ol {
    margin: 0 0 16px 0;
    padding-left: 32px;

    ul, ol {
        margin: 0;
        padding-left: 32px;
    }
}

//li {
//    > ul,
//    > ol {
//        margin-bottom: 0;
//        margin-left: 1.5em;
//    }
//}
