table {
    margin: 0 0 1.5em;
    width: 100%;
}

td {
    padding: 5px;
    border: 1px solid $color__border--table;
    &:hover {
        background: $color__border--table;
    }
}

th {
    padding: 5px;
    border: 1px solid $color__border--table;
    font-weight: bold;
    background: $color__background--th;
    color: $color__text-primary-inverse;
    text-align: center;
}

tr {
    &.alternate {
        background-color: $color__background-pre;
    }
}
