._msp-footer {
    width: 100%;
    height: 100px;

    & &__section {
        margin: auto;
        &--left {
            order: 0;
        }

        &--middle {
            @extend .mdl-typography--text-center;
            flex: 1;
            order: 1;
        }

        &--right {
            order: 2;

        }
    }
}
