$size--navigation--max-width: $layout--max-width;
$color--navigation--link--fg: $layout-text-color;
$color--navigation--container--bg: unquote("rgba(#{$color-black}, 0.08)");
$color--navigation--link--social--fg: $color--accent;
$color--navigation--menu-item--bg--after: $color--accent;
._msp-navigation {
    @extend .mdl-typography--body-1-force-preferred-font;
    text-align: center;
    padding-right: 24px;
    max-width: $size--navigation--max-width;
    width: 100%;
    & &__link {
        flex: 1;
        line-height: 42px;
        color: $color--navigation--link--fg;
        margin: 0;
        padding: 0;

        &:first-of-type {
            padding-left: 0;
        }
        &--social {
            @extend %genericon;

            font-size: 26px;

            @include padding(null 10px);

            &[href*='github.com'] {
                @extend %genericon-github;
            }
            &[href*='linkedin.com'] {
                @extend %genericon-linkedin-alt;
            }
            &:hover:before {
                color: $color--navigation--link--social--fg;
            }
        }
    }

    & &__social {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &--container {
        background-color: $color--navigation--container--bg;
        text-transform: uppercase;
        height: 45px;
    }

    .current-menu-item {
        position: relative;
        @extend b;
        &:after {
            content: "";
            width: 70%;
            height: 2px;
            display: block;
            position: absolute;
            bottom: 0;
            background-color: $color--navigation--menu-item--bg--after;
            left: 15%;
        }
    }

}
