.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-meta a {
    text-decoration: none;
}

@media only screen and(max-width: 480px) {

    #comment {
        width: 97%;
    }
    #comment-form {
        width: 285px;
    }
    .comments-area li {
        width: 290px;
        clear: both;
        padding: 0;
    }
}


