{% from 'macros/img.twig' import img_attr %}

{% extends "base.twig" %}
   {% block content %}
      <div id="primary" class=_msp-blog--container>
         {# TODO page title ? #}

         {% for post in posts %}
            {% if not loop.first %}
               <hr/>
            {% endif %}
         {% endfor %}
         {% include ['_partials/content-single-'~post.post_type~'.twig', '_partials/content-single.twig'] %}


         {# todo the_posts_navigation(); #}


      </div><!-- #primary -->
   {% endblock %}
