{% if social %}
   {% for item in social.items %}
      <a class="mdl-navigation__link _msp-navigation__link  _msp-navigation__link--social {{ item.class }}"
         href="{{ item.link }}"
         title="{{ item.attr_title }}"
         role="button"
      >
         <span class="screen-reader-text">{{ item.attr_title ?: item.name }}</span>
      </a>
   {% endfor %}
{% endif %}
