<footer class="mdl-mini-footer _msp-footer">
   <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">{{ site.title }}</div>
   </div>
   <div class="mdl-mini-footer__right-section">
      <div>{{ site.description }}</div>
   </div>
</footer>
