<header class="mdl-layout__header mdl-layout__header--waterfall  _msp-header">
   <div class="mdl-layout__header-row _msp-header__row _msp-header__row--logo">
       <span class="mdl-layout__title">
           <div class="_msp-header__logo"></div>
       </span>
   </div>
   <div class="mdl-layout__header-row mdl-layout--large-screen-only _msp-header__row _msp-navigation--container">
      <nav class="mdl-navigation _msp-navigation">
         {% include '_partials/menu.twig' %}
         <span class="_msp-navigation__social">{% include '_partials/social.twig' %}</span>
      </nav>
   </div>

</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
   <nav class="mdl-navigation _msp-navigation">
      {% include '_partials/menu.twig' %}
      {% include '_partials/social.twig' %}
   </nav>
</div>
