$font-size--small: 0.6em;
$gutter--header: 24px;

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/**
* Styles for HTML elements
*/

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    @include typo-display-3($colorContrast: true);
}

h1 {
    @include typo-display-3;

    margin-top: $gutter--header;
    margin-bottom: $gutter--header;
}

h2 {
    @include typo-display-2;

    margin-top: $gutter--header;
    margin-bottom: $gutter--header;
}

h3 {
    @include typo-display-1;

    margin-top: $gutter--header;
    margin-bottom: $gutter--header;
}

h4 {
    @include typo-headline;

    margin-top: $gutter--header;
    margin-bottom: $gutter--header * .75;
}

h5 {
    @include typo-title;

    margin-top: $gutter--header;
    margin-bottom: $gutter--header * .75;
}

h6 {
    @include typo-subhead;

    margin-top: $gutter--header;
    margin-bottom: $gutter--header * .75;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: $font-size--small;
}

p {
    @include typo-body-1;
    margin-bottom: $gutter--header * .75;
    font-size: 16px;
}

ul, li, ol, p {
    letter-spacing: .01em;
    line-height: 1.6;

}
