a {
    color: $text-color-primary;
    font-weight: 500;
    text-decoration: none;
    &:link {
        color: $text-color-primary;

    }
    &:visited {
        color: $text-color-primary;

    }
    &:hover {
        color: $text-link-color;
    }
    &:active {

    }
    &:focus {
        outline-style: none;
    }
}
