//urls
$img--logo: url('images/logo.png');
$img--ex-blog-03: url('images/example-blog03.jpg');
$img--ex-blog-05: url('images/example-blog05.jpg');
$img--ex-blog-06: url('images/example-blog06.jpg');
$img--footer-bg: url('images/footer-background.png');
