@import "colors";
@import "typography";
@import "structure";

//colors
$color--portfolio-nav-bg: rgba(0, 0, 0, 0.08);
$color--drawer-button-bg: rgba(197, 197, 197, 0.44);
$color--blog-card-bg: rgba(0, 0, 0, 0.2);
