$color--screen--bg--focus: unquote("rgb(#{$palette-grey-100})");
$color--screen--fg--focus: $color--primary-dark;
$shadow--screen--focus: 0 0 2px 2px unquote("rgba(#{$color-black}, 0.06)");

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:focus {

        background-color: $color--screen--bg--focus;
        border-radius: 3px;
        box-shadow: $shadow--screen--focus;
        clip: auto !important;
        color: $color--screen--fg--focus;
        display: block;
        font-size: 14px;
        @extend b;
        height: auto;
        left: 5px;
        top: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}
